{% extends "base.html" %}

{% block title %}

Te lo Vendo

{% endblock %}

{% block imagen1 %}

{% load static %}
<img id="logo" src="{% static 'img/TLV_LOGO.png' %}" alt="logo_fenix" width="500" height="500">

{% endblock %}

{% block navbar %}

<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <!-- Brand -->
    <a class="navbar-brand fs-5" href="#">TeLoVendo</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link fs-5" href="{% url 'lista_usuarios' %}">Usuarios Registrados</a>
            </li>
        </ul>
    </div>
</nav>

{% endblock %}

{% block header %}
<header>
    <h1> <b style="font-family: 'Courier New', Courier, monospace;">TE LO VENDO</b> </h1>
    <h2>Nosotros INVENTAMOS las 3 "B"</h2>
</header>
{% endblock %}

{% block imagen2 %}

{% load static %}
<img id="imagen" src="{% static 'img/fenix_logo.png' %}" alt="logo_fenix" width="500" height="500">

{% endblock %}

{% block formulario/lista %}

<section id="formulario-beneficios">
    <form>
        <p>Nombre</p>
        <input type="text">
        <p>Email</p>
        <input type="email" />
        <br>
        <br>
        <button class="btn btn-primary" type="submit">Regístrate</button>
    </form>
    <br>
    <h3>¡Nuestros Beneficios!</h3>
    <ul>
        <li>Rapidez</li>
        <li>Seguridad</li>
        <li>Gran Precio</li>
        <li>Flexibilidad</li>
    </ul>
</section>

{% endblock %}

{% block carrusel %}

<!-- Carrusel -->
<div id="demo" class="m-2 carousel slide" data-bs-ride="carousel">
    <!-- Puntos indicadores bajo el carrusel -->
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
    </div>
    <!--Transición de las imágenes -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="w-100" src="{% static 'img/carrusel1.png' %}" alt="carrusel1"
                style="max-width: 100%; height: auto;">
            <div class="carousel-caption">
                <h3>Las 3 B</h3>
                <p>Bueno, Bonito y Barato</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="w-100" src="{% static 'img/carrusel2.png' %}" alt="carrusel2"
                style="max-width: 100%; height: auto;">
            <div class="carousel-caption">
                <h3>+ Garantía</h3>
                <p>+ seguridad</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="w-100" src="{% static 'img/carrusel3.png' %}" alt="carrusel3"
                style="max-width: 100%; height: auto;">
            <div class="carousel-caption">
                <h3>Expertos en el tema</h3>
                <p>Siempre te ayudaremos</p>
            </div>
        </div>
    </div>
    <!-- controles previo - siguiente -->
    <a class="carousel-control-prev" href="#demo" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>
</div>

{% endblock %}

{% block footer %}

<footer>
    <br>
    <p>
        <a href="">Like Red Social 1</a> |
        <a href="">Like Red Social 2</a> |
        <a href="">Like Red Social 3</a> |
        <a href="">Like Red Social 4</a>
    </p>
    <br>
    <p>Copyright &copy; 2023 -
        Desarrollos de Landing Pages Inc.</p>
</footer>

{% endblock %}