{% extends "base.html" %}

{% block title %}

Te lo Vendo - Home

{% endblock %}

{% block imagen2 %}

{% load static %}
<img id="imagen" src="{% static 'img/fenix_logo.png' %}" alt="logo_fenix" width="500" height="500">

{% endblock %}

{% block formulario/lista %}

<section id="card_y_beneficios">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Productos Electrónicos - Te Lo vendo</h5>
        </div>
        <div class="card-body">
            <p class="card-text">Somos una empresa líder en la venta de productos electrónicos de última generación.
                Ofrecemos una amplia gama de dispositivos, desde teléfonos inteligentes hasta electrodomésticos
                inteligentes. Nuestro objetivo es proporcionar a nuestros clientes productos de alta calidad a precios
                competitivos.</p>
            <div id="map"></div>
        </div>
        <div class="card-footer">
            <div id="map-container">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12080.058499729692!2d-74.005974!3d40.712776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20EE.%20UU.!5e0!3m2!1ses!2smx!4v1568976010866!5m2!1ses!2smx"
                    width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <br>
    <div class="card text-center bg-warning" style="margin-left: 30%; width: 40%;">
        <h3>¡Nuestros Beneficios!</h3>
        <ul class="no-punto">
            <li>Rapidez</li>
            <li>Seguridad</li>
            <li>Gran Precio</li>
            <li>Flexibilidad</li>
        </ul>
    </div>
</section>

{% endblock %}

{% block carrusel %}

<!-- Carrusel -->
<div id="demo" class="m-2 carousel slide" data-bs-ride="carousel" style="padding: 0 200px; margin-top: 25px;">
    <!-- controles previo - siguiente -->
    <a class="carousel-control-prev" href="#demo" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
    <!-- Puntos indicadores bajo el carrusel -->
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
    </div>
    <!--Transición de las imágenes -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="w-100" src="{% static 'img/carrusel1.png' %}" alt="carrusel1"
                style="max-width: 100%; height: auto;">
            <div class="carousel-caption">
                <h3>Las 3 B</h3>
                <p>Bueno, Bonito y Barato</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="w-100" src="{% static 'img/carrusel2.png' %}" alt="carrusel2"
                style="max-width: 100%; height: auto;">
            <div class="carousel-caption">
                <h3>+ Garantía</h3>
                <p>+ seguridad</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="w-100" src="{% static 'img/carrusel3.png' %}" alt="carrusel3"
                style="max-width: 100%; height: auto;">
            <div class="carousel-caption">
                <h3>Expertos en el tema</h3>
                <p>Siempre te ayudaremos</p>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}