<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuarios</title>

</head>
<body>
    
</body>
</html>

{% extends "base.html" %}

{% block title %}

Te lo Vendo

{% endblock %}

{% block imagen1 %}

{% load static %}
<img id="logo" src="{% static 'img/TLV_LOGO.png' %}" alt="logo_fenix" width="500" height="500">

{% endblock %}

{% block navbar %}

<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <!-- Brand -->
    <a class="navbar-brand fs-5" href="#">TeLoVendo</a>
  
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link fs-5" href="{% url 'landing_page' %}">Volver a landing page</a>
        </li>
      </ul>
    </div>
  </nav> 

{% endblock %}

{% block header %}
<header>
    <h1> <b style="font-family: 'Courier New', Courier, monospace;">TE LO VENDO</b> </h1>
    <h2>Nosotros INVENTAMOS las 3 "B"</h2>
</header>
{% endblock %}

{% block imagen2 %}

{% load static %}
<img id="imagen" src="{% static 'img/fenix_logo.png' %}" alt="logo_fenix" width="500" height="500">

{% endblock %}

{% block formulario/lista %}

<div class="lista_usuarios">
    <h1>Lista de Usuarios Registrados</h1>
    <p>
        <ul>
            {% for usuario in usuarios %}
            <li>{{ usuario.nombre }} {{ usuario.apellido }}  |  {{ usuario.correo }}  |  {{ usuario.telefono }}</li>
            {% endfor %}
        </ul>
    </p>
</div>

{% endblock %}

{% block footer %}

<footer>
    <br>
    <p>
        <a href="">Like Red Social 1</a> |
        <a href="">Like Red Social 2</a> |
        <a href="">Like Red Social 3</a> |
        <a href="">Like Red Social 4</a>
    </p>
    <br>
    <p>Copyright &copy; 2023 -
        Desarrollos de Landing Pages Inc.</p>
</footer>

{% endblock %}